<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exotic Fruits - All Products</title>
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <!--link href="css/style.css" rel="stylesheet"-->

<style>
/* borderless table */
.table.table-borderless td, .table.table-borderless th {
    border: 0 !important;
}

.table.table-borderless {
    margin-bottom: 0px;
}
</style>
  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<img src="images/small_logo.png" width="170px" height="150px">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>
						Order Confirmation
					</h2>
					<p>
						Order # <strong class="text-info">1231231</strong>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-danger">
						Hello Fiona Siu,
					</h4>
					<p>
						Thank you for shopping with us. We'll send a confirmation once your item has shipped. Your order details are indicated below.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>
						Your guaranteed delivery date is: <br><strong>Monday, May 1</strong>
					</p>
				</div>
				<div class="col-md-6">
					<p>
						Your order will be sent to:
					</p>
					<p>
						<strong>Fiona Siu<br>
						5065 Cordova Bay Road<br>
						Victoria, British Columbia V8Y 2K1<br>
						Canada</strong>
					</p>					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-warning">
				Order Details
			</h4>
			<hr size="30">
			<p>
				Order # <strong class="text-info">1231231</strong>
			</p>
			<p>
				placed on Monday, May 29, 2017
			</p>			
			<div class="row">
				<div class="col-md-3">
					<img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/">
				</div>
				<div class="col-md-5">
					<div class="bd-callout bd-callout-warning">
						<h4 id="conveying-meaning-to-assistive-technologies">Durian</h4>
						<p>Popular in Southeast Asia, the durian is named after its spiky exterior. The husk, distinct smell, and size of the durian make the fruit distinctive. Sold: Individually</p>
					</div>
				</div>
				<div class="col-md-4">
					<p>
						 <strong>$ 4.00</strong>
					</p>
				</div>
			</div>
			<hr size="30">			
			<div class="row">
			
			
		<div class="col-md-12">
			<table class="table table-borderless">
				<tbody>
					<tr>
						<td width="70%" class="text-right">
							Subtotal:
						</td>
						<td width="30%" class="text-left">
							$14.99
						</td>

					</tr>
					<tr>
						<td width="70%" class="text-right">
							Shipping:
						</td>
						<td class="text-left">
							$10
						</td>
					</tr>
					<tr>
						<td width="70%" class="text-right">
							Total:
						</td>
						<td class="text-left">
							$15
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>


  </body>
</html>