<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exotic Fruits - All Products</title>
    <!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <!--link href="css/style.css" rel="stylesheet"-->


<style>
	/* borderless table */
	.table.table-borderless td, .table.table-borderless th {
		border: 0 !important;
	}
	.table.table-borderless {
		margin-bottom: 0px;
	}

	div.logo{
		text-align: center;
	}

</style>
  </head>
  <body>

    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="logo"><img src="http://deepblue.cs.camosun.bc.ca/~cst615/ICS199/images/1.png" width="300px" height="170px" align="middle"></div>
				</div>
			</div>
			<div class="row"></div>
			<div class="row">
				<div class="col-md-12">
					<h2>
                        <hr>
						Order Confirmation
                        <hr>
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4>
						Hello %name%,
					</h4>
					<p>
						Thank you for shopping with us! Your order will be shipping within the next 24 hours.
					</p>
				</div>
			</div>

			<div class="row">

				<div class="col-md-4">
					<h4>
                        <br>
						Your order will be sent to:
					</h4>
					<h4>
						<strong>%name%<br>
						%address%<br>
						%city%, %province% %postalCode%<br>
						Canada</strong>
                        <br>
                        <br>
                        <br>
					</h4>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
                    <h4>
                        <a href ="http://ics199-grp01-project.ics199.site/view/login.php">Log in to your account to view past orders</a>
                    </h4>
                </div>
			</div>
		</div>
	</div>

		<!--
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading"><h3>Order Details</h3></div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-condensed">
							<thead>
								<tr>
									<td><h4><strong>%productName%</strong></h4></td>
                                </tr>
                                <tr>
									<td></td>
                                    <td></td>
									<td><strong>%productPrice%</strong></td>
								</tr>
							</thead>
							<tbody>
								<tr>

									<td></td>
									<td><strong>Subtotal</strong></td>
									<td>%subtotal%</td>
								</tr>
								<tr>

									<td></td>
									<td><strong>Shipping</strong></td>
									<td>$10.00</td>
								</tr>
								<tr>
									<td></td>
									<td><strong>Grand Total</strong></td>
									<td>%grandTotal%</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	-->
  </body>
</html>